<div class="footer1"> 
  <div class="container">
    <div class="row"> 
        <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                <li class="widget-container widget_nav_menu"><!-- widgets list -->  
                  <h1 class="title-widget">Useful links</h1>
                  <ul>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Safety Courses</a></li>
                  </ul> 
                </li>
            </ul>          
          </div><!-- widgets column left end -->
                
        <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                <li class="widget-container widget_nav_menu"><!-- widgets list -->  
                  <h1 class="title-widget">Useful links</h1>
                  <ul>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Safety Courses</a></li>
                  </ul> 
                </li>
            </ul>          
          </div><!-- widgets column left end -->

          <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                <li class="widget-container widget_nav_menu"><!-- widgets list -->  
                  <h1 class="title-widget">Useful links</h1>
                  <ul>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Safety Courses</a></li>
                  </ul> 
                </li>
            </ul>          
          </div><!-- widgets column left end -->        
               
          <div class="col-lg-3 col-md-3"><!-- widgets column center -->        
            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container widget_recent_news"><!-- widgets list -->    
                  <h1 class="title-widget">Contact Details</h1>
                    <div class="footerp">
                      <h2 class="title-median">RegzHUB, Inc.</h2>
                      <p><b>Corp Office /  Address</b></p>
                      <p><b>Phone Numbers: </b>800-206-6705</p>
                    </div>               
                    <div class="social-icons">
                      <ul class="nomargin">            
                        <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      
<!--header-->

  <div class="container footer-bottom">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 footer-bottom">
        <div class="copyright">
          © 2019, American Safety Training Solutions, Inc., All rights reserved.
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
           <a href="#">AST </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Meier Designs, Inc.</a>
        </div>
      </div>
    </div>
  </div>
</div>