<div class="footer1"> 
  <div class="container">
    <div class="row"> 
        <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                <li class="widget-container widget_nav_menu"><!-- widgets list -->  
                  <h1 class="title-widget">Company</h1>
                  <ul>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                      <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                      <li><a  href="https://trainsosha.com/" target="_blank"><i class="fa fa-angle-double-right"></i> Safety Courses</a></li>
                  </ul> 
                </li>
            </ul>          
          </div><!-- widgets column left end -->
                
        <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                <li class="widget-container widget_nav_menu"><!-- widgets list -->  
                  <h1 class="title-widget">Services</h1>
                  <ul>
                      <li><a  href="https://regzpert-meier.herokuapp.com/" target="_blank"><i class="fa fa-angle-double-right"></i> Regzpert</a></li>
                      <li><a  href="https://regzvid-meier.herokuapp.com/" target="_blank"><i class="fa fa-angle-double-right"></i> Regzvid</a></li>
                      <li><a  href="https://regzgram-meier.herokuapp.com/" target="_blank"><i class="fa fa-angle-double-right"></i> RegzGRAM</a></li>
                      <li><a  href="https://regztodo-meier.herokuapp.com/" target="_blank"><i class="fa fa-angle-double-right"></i> RegzTODO</a></li>
                  </ul> 
                </li>
            </ul>          
          </div><!-- widgets column left end -->

          <div class="col-lg-3 col-md-3"><!-- widgets column left -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                <li class="widget-container widget_nav_menu"><!-- widgets list -->  
                  <h1 class="title-widget">Resources</h1>
                  <ul>
                      <li><a  href="https://mancomm.com/" target="_blank"><i class="fa fa-angle-double-right"></i> Regulations</a></li>
                      <li><a  href="https://bluegavelpress.com/" target="_blank"><i class="fa fa-angle-double-right"></i> Compliance Guides</a></li>
                      <li><a  href="https://store.360training.com/TopCategoriesDisplay?catalogId=10001&urlLangId=-1&langId=-1&storeId=289802" target="_blank"><i class="fa fa-angle-double-right"></i>On-Demand Courses</a></li>
                      <li><a  href="https://mancomm.com/spanish-eos-general-industry-package/" target="_blank"><i class="fa fa-angle-double-right"></i> Training Materials</a></li>
                  </ul> 
                </li>
            </ul>          
          </div><!-- widgets column left end -->        
               
          <div class="col-lg-3 col-md-3"><!-- widgets column center -->        
            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container widget_recent_news"><!-- widgets list -->    
                    <div class="footerp">
                      <h2 class="title-median">RegzHUB</h2>
                      <p><b>Corp Office:</b>
                      <br>1234 Main Street<br>Austin TX 78726<br>
                      <b>Phone: </b>800-206-6705</p>
                    </div>               
                    <div class="social-icons">
                      <ul class="nomargin">            
                        <a href="https://www.facebook.com/groups/215343528995537/?ref=bookmarks" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                        <a href="https://twitter.com/TrainOSHA" target="_blank"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                        <a href="https://trainsosha.com" target="_blank"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                        <a href="mailto:ameier@trainosha.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      
<!--header-->

  <div class="container footer-bottom">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 footer-bottom">
        <div class="copyright">
          © 2019, American Safety Training Solutions, Inc., All rights reserved.
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
           <a href="#">AST </a> |  <a target="_blank" href="http://www.trainsosha.com">Safety & Development by Meier Designs, Inc.</a>
        </div>
      </div>
    </div>
  </div>
</div>