<!-- Banner -->
<div class="banner">
    <div class="content">
      <div class="container">
        <div class="col-md-8 col-sm">
          <h2>RAJ ENGINEERING VIBRATORS</h2>
          <p>We are supplier of Construction Vibrator, Construction Rammer, Concrete Mixer, Mini Lift, Steel Bar Cutter, Material Handling Equipment, Lab Testing Equipment and others.</p>

          <% if user_signed_in? %>
          <%= link_to 'CHAT', rooms_path, class: 'btn btn-success btn-lg' %>
          <% else %>
          <%= link_to 'REGISTER', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
          <% end %>
          
        </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container text-center">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12"> 
      <div class="service-heading-block">
        <h2 class="text-center text-primary title">Visit <strong>RegzHUB's</strong> Other Services</h2>
        <p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
      </div>             
    </div> 

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="text-center feature-block">
        <span class="fb-icon color-info">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        </span>
        <h4 class="color-info">Cloud Upload</h4>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p> 
        <a href="http://regzpert-meier.herokuapp.com/" target = "_blank" class="btn btn-success">Click here</a>
      </div>
    </div> 

    <div class="col-lg-3 col-md-6 col-sm-6">
     <div class="text-center feature-block">
        <span class="fb-icon color-warning">
          <i class="fa fa-desktop" aria-hidden="true"></i>
        </span>
        <h4 class="color-warning">Computer Service</h4>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
        <a href="javascript:void(0)" class="btn btn-success">Click here</a>
      </div>
    </div>
            
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="text-center feature-block">
        <span class="fb-icon color-success">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
        <h4 class="color-success">Email Service</h4>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
        <a href="javascript:void(0)" class="btn btn-success">Click here</a>
      </div>
    </div>
            
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="text-center feature-block">
        <span class="fb-icon color-danger">
          <i class="fa fa-fire" aria-hidden="true"></i>
        </span>
        <h4 class="color-danger">Quality Service</h4>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
        <a href="javascript:void(0)" class="btn btn-success">Click here</a>
      </div>
    </div>
  </div>  
  </div>  


        <div class="fullwidth">
            <div class="container">
              <div class="col-md-12 col-sm">
                <div class="content">
                  <h2>RAJ ENGINEERING VIBRATORS</h2>
                  <p>We are supplier of Construction Vibrator, Construction Rammer, Concrete Mixer, Mini Lift, Steel Bar Cutter, Material Handling Equipment, Lab Testing Equipment and others.</p>

                  <% if user_signed_in? %>
                  <center><%= link_to 'START CHATTING', rooms_path, class: 'btn btn-success btn-lg' %></center>
                  <% else %>
                  <center><%= link_to 'REGISTER', new_user_registration_path, class: 'btn btn-primary btn-lg' %></center>
                  <% end %> 
                </div>
              </div>
            </div>
          </div>

  
    <div class="service-heading-block">
        <h2 class="text-center text-primary title"><strong>Pricing</strong></h2>
        <p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
      </div>

    <div class="container"> 
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Lite</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$5 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa fa-check 2x"></i> 10 chat rooms included</li>
              <li><i class="fa fa-check 2x"></i> Unlimited Messages</li>
              <li><i class="fa fa-check 2x"></i> Free Access to all RegzHUB Services</li>
              <li><i class="fa fa-check 2x"></i> Email Support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Register Today</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa fa-check 2x"></i> 30 chat rooms included</li>
              <li><i class="fa fa-check 2x"></i> Unlimited Messages</li>
              <li><i class="fa fa-check 2x"></i> Free Access to all RegzHUB Services</li>
              <li><i class="fa fa-check 2x"></i> Email & Phone Support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get Started</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fa fa-check 2x"></i> Unlimited chat rooms</li>
              <li><i class="fa fa-check 2x"></i> Unlimited Messages</li>
              <li><i class="fa fa-check 2x"></i> Free Access to all RegzHUB Services</li>
              <li><i class="fa fa-check 2x"></i> Personal Safety Coach</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Contact Us</button>
          </div>
        </div>
     </div>
    </div>
  </div>
