@import "bootstrap";
@import "font-awesome";

.alert{
  color: #f45252;
}

.invalid-feedback {
  color: #f45252;
}

.logbox {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 100px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.link_to {
  text-decoration: none !important;
  color: #fff;
}

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}

.navbar {
  background: image_url('carbon.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #edd521;
  font-family: 'capture_itregular', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 0px;
}